@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,latin);
@font-face {
  font-family: 'Mirta-Italic';
  src: url('../fonts/Mirta-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Mirta-Italic.otf') format('opentype'), url('../fonts/Mirta-Italic.woff') format('woff'), url('../fonts/Mirta-Italic.ttf') format('truetype'), url('../fonts/Mirta-Italic.svg#Mirta-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix {
  zoom: 1;
}
.target-map {
  position:absolute;
  width:160px;
  height:200px;
  z-index:100;
}
span.form-error{ font-size: 11px;}
.w140{  width: 140px;
  height: 140px;}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.ico {
  background: url(../img/sprite.png);
  display: block;
}
.logo img{
      width: 130px;
  height: 71px;
}
.ico-rest {
  background-position: -1px -1px;
  width: 38px;
  height: 32px;
}
.ico-ferm {
  background-position: 4px -258px;
  width: 38px;
  height: 32px;
}
.ico-tur {
  background-position: -47px -258px;
  width: 38px;
  height: 32px;
}
.ico-shop {
  background-position: -104px -258px;
  width: 38px;
  height: 32px;
}
.ico-phones {
  background-position: -39px 0;
  width: 33px;
  height: 33px;
}
.ico-fb {
  background-position: -72px 0;
  width: 23px;
  height: 23px;
}
.ico-in {
  background-position: 0 -225px;
  width: 23px;
  height: 23px;
}
.ico-vk {
  background-position: -26px -225px;
  width: 23px;
  height: 23px;
}
.ico-clock {
  width: 19px;
  height: 19px;
  background-position: -118px 0;
  display: inline-block;
}
.ico-list {
  background-position: -137px 0;
  width: 22px;
  height: 23px;
  float: left;
}
.ico-rss {
  background-position: -76px -176px;
  width: 39px;
  height: 39px;
}
.promo-logo {
  background: url(../img/sprite.png) 0 -33px;
  width: 190px;
  height: 94px;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  color: #000000;
  padding-top: 150px;
}
*:focus {
  outline: none !important;
}
h1 {
  font-family: 'Mirta-Italic', serif;
  text-align: center;
  font-size: 53px;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
}
a:hover,
a:focus {
  color: #000000;
}
.container {
  max-width: 970px;
}
article {
  line-height: 20px;
}
article p {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  body {
    padding-top: 0;
  }
}
.btn-rez {
  border-radius: 20px;
  height: 39px;
  border: 2px solid #D8B791;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 7px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  padding: 4px 24px 4px;
}
.btn-rez i {
  margin-right: 10px;
  position: relative;
  top: 4px;
}
.btn-rez:hover {
  background: #D8B791;
  color: #ffffff;
}
.btn-rez:focus {
  color: #ffffff;
}
.page-container .social-share {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-container .social-share ul {
  margin-bottom: 0;
}
.page-container .social-share ul li {
  display: inline-block;
  margin-right: 36px;
  margin-bottom: 0;
  padding-left: 0;
  background: none;
}
.page-container .social-share ul li:before {
  display: none;
}
.ico-time {
    width: 33px;
    height: 33px;
    display: block;
    position: absolute;
    left: 46px;
    top: 16px;
    background: url(../img/clock.png);
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .head-top {
  position: relative;
  height: 97px;
  background: #ffffff;
}
header .head-top .logo {
  margin-top: 17px;
  display: inline-block;
}
header .head-top .menu-toggle {
  display: none;
  width: 22px;
  height: 15px;
  border: 0 none;
  margin-right: 22px;
  margin-top: -55px;
  position: relative;
  background: none;
}
header .head-top .menu-toggle span {
  border-bottom: 2px solid #000000;
  display: block;
  width: 100%;
  margin-bottom: 4px;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
header .head-top .menu-toggle .s1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  left: -2px;
  top: 7px;
  position: absolute;
}
header .head-top .menu-toggle .s2 {
  opacity: 0;
}
header .head-top .menu-toggle .s3 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: -2px;
  top: 7px;
  position: absolute;
  margin-bottom: 0;
}
header .head-top .menu-toggle.collapsed {
  background-position: -225px 0;
}
header .head-top .menu-toggle.collapsed span {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: static;
}
header .head-top .menu-toggle.collapsed span.s2 {
  opacity: 1;
}
header .head-top .nav {
  zoom: 1;
  float: left;
}
header .head-top .nav:before,
header .head-top .nav:after {
  content: "";
  display: table;
}
header .head-top .nav:after {
  clear: both;
}
header .head-top .nav > ul {
  overflow: visible;
  list-style: none;
  padding: 0;
  margin: 0;
}
header .head-top .nav > ul > li {
  float: left;
  margin-right: 26px;
}
header .head-top .nav > ul > li:last-child {
  margin-right: 0;
}
header .head-top .nav > ul > li > a {
  height: 97px;
  line-height: 94px;
  text-transform: uppercase;
  zoom: 1;
  display: block;
}
header .head-top .nav > ul > li > a:before,
header .head-top .nav > ul > li > a:after {
  content: "";
  display: table;
}
header .head-top .nav > ul > li > a:after {
  clear: both;
}
header .head-top .nav > ul > li > a .ico-rest, header .head-top .nav > ul > li > a .ico-ferm, header .head-top .nav > ul > li > a .ico-tur
, header .head-top .nav > ul > li > a .ico-shop{
  margin: 23px auto -33px;
}
header .head-top .nav > ul > li ul {
  position: absolute;
  top: 97px;
  left: -148px;
  overflow: visible;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 2;
}
header .head-top .nav > ul > li ul li {
  float: left;
  margin-right: 45px;
}
header .head-top .nav > ul > li ul li.active {
  position: relative;
}
header .head-top .nav > ul > li ul li.active:before {
  position: absolute;
  content: "";
  background: url(../img/sprite.png) -192px 0;
  width: 33px;
  height: 9px;
  margin-left: -16px;
  left: 50%;
  top: 0;
}
header .head-top .nav > ul > li ul li a {
  position: relative;
  line-height: 53px;
  height: 53px;
  display: block;
  text-transform: uppercase;
  color: #ffffff;
}
header .head-top .contacts {
  float: right;
  zoom: 1;
}
header .head-top .contacts:before,
header .head-top .contacts:after {
  content: "";
  display: table;
}
header .head-top .contacts:after {
  clear: both;
}
header .head-top .contacts-phones {
  position: relative;
  float: left;
    padding-left: 44px;
    line-height: 30px;
    margin-top: 0;
    padding-top: 10px;
}
header .head-top .contacts-phones .ico {
  position: absolute;
  left: 0;
  top: 12px;
}
header .head-top .contacts-social {
  margin-top: 10px;
  zoom: 1;
  float: left;
  margin-left: 10px;
}
header .head-top .contacts-social:before,
header .head-top .contacts-social:after {
  content: "";
  display: table;
}
header .head-top .contacts-social:after {
  clear: both;
}
header .head-top .contacts-social a {
  margin-left: 11px;
  display: block;
  float: left;
}

header .head-top .contacts-time {
    position: relative;
    width: 218px;
    float: right;
    line-height: 1.2;
    text-align: right;
    font-size: 12px;
}
header .head-top .contacts-time span {
    color: #969696;
}

header .head-btm {
  background: #000000;
  height: 53px;
}
header .head-btm .btn {
  float: right;
}
@media (max-width: 767px) {
  .contacts-block .contact-title{
    text-align: left !important;
  }
  header {
    position: static;
  }
  header .head-top {
    height: auto;
  }
  header .head-top .nav-header {
    zoom: 1;
  }
  header .head-top .nav-header:before,
  header .head-top .nav-header:after {
    content: "";
    display: table;
  }
  header .head-top .nav-header:after {
    clear: both;
  }
  header .head-top .col-sm-2,
  header .head-top .col-sm-10 {
    padding: 0;
  }
  header .head-top .logo {
    width: 126px;
    display: block;
    margin: 17px auto 16px;
    float: none;
  }
  header .head-top .menu-toggle {
    float: right;
    display: block;
    padding: 0;
  }
  header .head-top .nav {
    float: none;
    border-bottom: 1px solid #E9E9E9;
  }
  header .head-top .nav ul li {
    float: none;
    margin: 0;
    border-top: 1px solid #969696;
  }
  header .head-top .nav ul li.selected {
    background: #000000;
  }
  header .head-top .nav ul li.selected a {
    color: #ffffff;
  }
  header .head-top .nav ul li a {
    height: 52px;
    line-height: 52px;
    font-weight: bold;
    text-transform: none;
    padding-left: 29px;
  }
  header .head-top .nav ul li a .ico {
    display: none;
  }
  header .head-top .nav ul li ul {
    position: static;
    border: 0;
  }
  header .head-top .nav ul li ul > li {
    float: none;
    margin: 0;
  }
  header .head-top .nav ul li ul > li a {
    font-weight: normal;
    padding-left: 40px;
    text-transform: none;
  }
  header .head-top .nav ul li ul > li.active:before {
    width: 9px;
    height: 33px;
    left: 0;
    top: 9px;
    background-position: -192px -9px;
    margin-left: 0;
  }
  header .head-top #nav-collapse {
    height: 0;
    overflow: hidden;
    max-height: 300px;
  }
  header .head-top #nav-collapse.in {
    height: 300px;
    overflow: scroll;
  }
  header .head-top .contacts {
    margin-left: 30px;
    float: none;
  }
    header .head-top .contacts-time {
        float: none;
        margin-top: 20px;
        padding-bottom: 10px;
        width: 206px;
    }
    header .head-top .contacts-time .ico-time {
        left: 0;
    }
  header .head-btm {
    text-align: center;
  }
  header .head-btm .btn {
    float: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header {
    position: static;
  }
  header .head-top .logo {
    margin-bottom: 1px;
  }
  header .head-top .logo img {
    max-width: 100%;
  }
  header .head-top .contacts-phones {
    margin-top: 6px;
    float: none;
  }
  header .head-top .contacts-social {
    float: right;
    margin-top: 0px;
  }
  header .head-top .nav > ul > li {
    margin-right: 15px;
  }
  header .head-top .nav > ul > li ul {
    left: -110px;
  }
  header .head-top .nav > ul > li ul li {
    margin-right: 30px;
  }
  header .head-top .nav > ul > li ul li a {
    text-transform: none;
  }
}
.promo-block {
  background: url(../img/promo.jpg) center top;
  background-size: cover;
  height: 505px;
  position: relative;
}
.promo-block .promo-logo {
  top: 112px;
  position: absolute;
  left: 50%;
  margin-left: -95px;
}
@media (max-width: 767px) {
  .promo-block {
    height: 384px;
  }
  .promo-block .promo-logo {
    top: 60px;
  }
}
.widgets-block {
  background: #F1E4D7;
}
.widgets-block .col-sm-7 {
  float: right;
}
.widgets-block h2 {
  font-family: Mirta-Italic, serif;
  line-height: 20px;
  font-size: 31px;
  margin-top: 0;
  margin-bottom: 24px;
}
.widgets-block .widget {
  padding: 51px 0 0;
}
.widgets-block .about-widget {
  background: #ffffff url(../img/uzor-1.jpg) no-repeat right top;
  border-bottom: 3px solid #D8B791;
  margin-top: -190px;
  padding: 51px 72px 0 26px;
}
@media (max-width: 767px) {
  .widgets-block h2 {
    font-size: 23px;
  }
  .widgets-block .about-widget {
    margin-bottom: 40px;
    padding: 46px 21px 0;
    margin-top: -183px;
  }
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls {
  top: -43px;
  position: absolute;
  left: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
  background: #ffffff;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
.owl-carousel .owl-item:hover {
  opacity: 1 !important;
}
.owl-carousel .owl-item.active + .active {
  opacity: 0.5;
}
.owl-stage .active {
  opacity: 1;
}
.owl-stage .active a {
  display: block;
  position: relative;
}
.owl-stage .active a:after {
  content: "";
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  border: 3px solid #D8B791;
  position: absolute;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  opacity: 0;
}
.owl-stage .active a:hover:after {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  opacity: 1;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
.carousel-block {
  overflow: hidden;
  padding-top: 43px;
  background: #F1E4D7;
}
.owl-prev {
  width: 41px;
  height: 12px;
  background: url(../img/sprite.png) 0 -138px;
  margin-right: 42px;
  float: left;
  text-indent: -9999px;
}
.owl-prev:hover {
  background-position: 0 -152px;
}
.owl-next {
  background: url(../img/sprite.png) -83px -138px;
  width: 41px;
  height: 12px;
  text-indent: -9999px;
  float: left;
}
.owl-next:hover {
  background-position: -83px -152px;
}
@media (max-width: 767px) {
  .carousel-wrapper {
    padding: 0;
  }
  .owl-carousel .owl-controls {
    left: 15px;
  }
}
.page-container-header {
  position: relative;
  margin-bottom: 60px;
}
.page-container-header .uzor {
  position: absolute;
  top: 0;
}
.page-container-header .uzor-n1 {
  left: -20px;
  width: 251px;
  height: 173px;
  background: url(../img/uzor-1.jpg);
}
.page-container-header .uzor-n2 {
  left: -40px;
  width: 450px;
  height: 97px;
  background: url(../img/uzor-2.jpg);
}
.page-container-header .uzor-n4 {
  right: 0;
  width: 450px;
  height: 100px;
  background: url(../img/uzor-4.jpg);
}
.page-container-header .uzor-n5 {
  left: -115px;
  width: 429px;
  height: 473px;
  background: url(../img/uzor-5.jpg);
}
.page-container-header .page-container-heading {
  position: relative;
  margin-top: 61px;
  padding-bottom: 15px;
}
.page-container-header .page-container-heading:after {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 166px;
  margin-left: -83px;
  border-bottom: 2px solid #b88b58;
  content: "";
}
.page-container-header .page-container-heading h1 {
  margin-top: 0;
  margin-bottom: 0px;
  line-height: 75px;
}
.page-container-header .page-container-heading .date {
  display: block;
  text-align: center;
  color: #969696;
  margin-bottom: 18px;
  padding-top: 12px;
}
.page-container-header .page-container-heading-link {
  position: absolute;
  right: 0;
  top: 30px;
}
.page-container-header .page-container-heading-link .ico-list {
  margin-right: 10px;
}
.page-container-header .page-container-heading-link-rss {
  top: 20px;
}
@media (max-width: 767px) {
  .page-container-header .uzor {
    display: none;
  }
  .page-container-header .page-container-heading {
    text-align: center;
  }
  .page-container-header .page-container-heading-link {
    position: static;
    margin-right: 0;
    display: inline-block;
  }
  .page-container-header .page-container-heading h1 {
    font-size: 23px;
    line-height: 30px;
  }
}
.page-container ul {
  margin-top: 0;
  padding: 0;
}
.page-container ul li {
  padding-left: 17px;
  position: relative;
  list-style: none;
  margin-bottom: 19px;
}
.page-container ul li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  background: url(../img/sprite.png) -172px -1px;
  width: 6px;
  height: 7px;
}
.page-container p {
  margin-bottom: 18px;
}
.tabs {
  border-top: 1px solid #eaeaea;
}
.tab {
  border-bottom: 1px solid #eaeaea;
}
.tab-header {
  height: 139px;
  text-align: center;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  line-height: 139px;
  font-size: 31px;
  font-family: 'Mirta-Italic';
}
.tab-header:before {
  content: "";
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
  transition: all 400ms ease;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
}
.tab-header:hover {
  color: #ffffff;
}
.tab-header:hover:before {
  opacity: 1;
  background-color: #000000;
}
.tab-header .container {
  position: relative;
}
.tab-header .container img {
  width: 59px;
  height: 59px;
  border-radius: 30px;
  border: 2px solid #D8B791;
  position: relative;
  top: -4px;
  margin-right: 40px;
}
.tab-header .container span {
  /*width: 400px;*/
  display: inline-block;
  text-align: left;
}
.tab-header .container .toggle-ico {
  background: url(../img/sprite.png) 0 -176px;
  width: 38px;
  height: 38px;
  display: block;
  position: absolute;
  right: 15px;
  top: 51px;
  -webkit-transition: transform 400ms ease;
  -moz-transition: transform 400ms ease;
  -ms-transition: transform 400ms ease;
  -o-transition: transform 400ms ease;
  transition: transform 400ms ease;
}
.tab-header.active {
  color: #ffffff;
  background-color: #000000;
}
.tab-header.active:before {
  -webkit-transform: scale(1.3) rotate(1deg);
  -moz-transform: scale(1.3) rotate(1deg);
  -ms-transform: scale(1.3) rotate(1deg);
  -o-transform: scale(1.3) rotate(1deg);
  transform: scale(1.3) rotate(1deg);
  opacity: 1;
}
.tab-header.active .container .toggle-ico {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  background-position: -38px -176px;
}
.tab-menu-n1:before {
  background: url(../img/desert.jpg) center no-repeat;
  background-size: cover;
}
.tab-menu-n2:before {
  background: url(../img/promo.jpg) center no-repeat;
  background-size: cover;
}
.tab-content {
  display: none;
}
.tab-content > div {
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E9E9E9;
}
.tab-content > div .col-sm-6 {
  zoom: 1;
}
.tab-content > div .col-sm-6:before,
.tab-content > div .col-sm-6:after {
  content: "";
  display: table;
}
.tab-content > div .col-sm-6:after {
  clear: both;
}
.tab-content > div:last-child {
  border-bottom: 0 none;
}
.tab-content .col-title {
  font-weight: bold;
  margin-top: 20px;
}
.tab-content ul {
  float: left;
  width: 220px;
}
.tab-content .person-job {
  color: #969696;
}
.tab-content .rounded-thumb {
  border-radius: 68px;
  border: 2px solid #D8B791;
  overflow: hidden;
  width: 140px;
  height: 140px;
-moz-border-radius: 68px 68px 68px 68px; /* Firefox */
-webkit-border-radius: 68px 68px 68px 68px; /* Safari, Chrome */
-khtml-border-radius: 68px 68px 68px 68px; /* KHTML */
-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

}
@media (max-width: 767px) {
  .tab-header {
    font-size: 23px;
    line-height: 1;
    padding-top: 21px;
    height: auto;
  }
  .tab-header .container span {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  .tab-header .container span img {
    display: block;
    margin: 1px auto 19px;
    top: auto;
  }
  .tab-header .container .toggle-ico {
    position: static;
    display: inline-block;
  }
  .tab-content ul {
    float: none;
  }
  .tab-content > .container {
    padding-top: 49px;
    padding-bottom: 20px;
  }
  .tab-content .col-title {
    margin-top: 0;
  }
}
.news-thumbs .item {
  width: 300px;
  margin-bottom: 10px;
  zoom: 1;
}
.news-thumbs .item:before,
.news-thumbs .item:after {
  content: "";
  display: table;
}
.news-thumbs .item:after {
  clear: both;
}
.news-thumbs .item a {
  display: block;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.news-thumbs .item a span {
  display: block;
  font-weight: bold;
}
.news-thumbs .item a img {
  display: block;
  max-width: 100%;
  margin-bottom: 24px;
}
.news-thumbs .preloader {
  text-align: center;
}
.news-img {
  margin-bottom: 35px;
}
.news-text {
  margin-bottom: 20px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .news-thumbs .item {
    width: 225px;
  }
}
@media (max-width: 767px) {
  .news-thumbs {
    text-align: center;
  }
  .news-thumbs .item {
    width: auto;
    right: 15px;
  }
  .news-thumbs a {
    display: block;
  }
  .news-thumbs a img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .news-img {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.contacts-block {
  margin-top: -20px;
  margin-bottom: 20px;
}
.contacts-block .row {
  margin-bottom: 19px;
}
.contacts-block .contact-title {
  text-align: right;
  color: #969696;
}
.contacts-block p {
  margin-bottom: 0;
}
.contacts-map {
  height: 393px;
}
.form-row {
  zoom: 1;
  margin-left: -20px;
  margin-bottom: 20px;
}
.form-row:before,
.form-row:after {
  content: "";
  display: table;
}
.form-row:after {
  clear: both;
}
.form-row .btn-rez {
  background: #000000;
  border: 0 none;
  padding-top: 0;
}
.form-control {
  border: 2px solid #000000;
  border-radius: 0;
  color: #000000;
  font-size: 15px;
  height: 39px;
  padding: 6px 17px;
  text-align: left;
}
.form-control:focus {
  border-color: #000000;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type=date].form-control {
  padding-right: 0;
  padding-left: 12px;
}
select.form-control {
  padding-left: 6px;
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none !important;
-o-appearance: none;
appearance: none;
    background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat scroll 60px center transparent;
}
/*select.form-control :: -ms-expand {
display: none;
visibility:hidden;
}*/
select.form-control::-ms-expand {
 /* IE 8 */
 -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
 /* IE 5-7 */
 filter: alpha(opacity=0);
 /* Good browsers :) */
 opacity:0;
}
.form-item {
  float: left;
  margin-left: 20px;
}
.form-item-w1 {
  width: 460px;
}
.form-item-w3 {
  width: 140px;
}
.form-item-w4 {
  width: 90px;
}
.form-item label {
  font-weight: normal;
  color: #969696;
}
.form-item-w4 + .form-item-w4 {
  width: 85px;
}
.form-hint {
  padding-top: 18px;
  color: #969696;
  margin-left: 20px;
  float: left;
  height: 39px;
}
.form-submit {
  float: right;
}
@media (max-width: 767px) {
  .form-row {
    margin-bottom: 0;
  }
  .form-row .form-item {
    margin-bottom: 20px;
  }
  .form-row-n2 .form-item {
    width: auto;
    float: none;
  }
  .form-row-n3 .form-item {
    float: none;
    width: auto;
  }
  .form-hint {
    padding-top: 0;
    height: 24px;
  }
  .form-submit {
    float: none;
    margin-left: 20px;
  }
}
footer {
  padding-top: 40px;
  position: relative;
}
footer nav {
  zoom: 1;
}
footer nav:before,
footer nav:after {
  content: "";
  display: table;
}
footer nav:after {
  clear: both;
}
footer nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  float: left;
}
footer nav ul li {
  float: left;
  margin-right: 22px;
}
footer nav ul li a {
  color: #b88b58;
  display: inline-block;
  line-height: 22px;
}
footer nav .separator {
  border-left: 1px solid #E9E9E9;
  height: 21px;
  display: block;
  float: left;
  margin-right: 20px;
}
footer .copyright p {
  margin-bottom: 17px;
}
footer .to-up {
  width: 39px;
  height: 38px;
  opacity: 0.8;
  background: url(../img/sprite.png) -123px -177px;
  position: absolute;
  bottom: 14px;
  right: 14px;
  display: block;
}
footer .to-up:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
    padding-bottom: 20px;
    overflow: hidden;
  }
  footer nav {
    margin-bottom: 20px;
  }
  footer nav ul {
    margin-bottom: 0;
    float: none;
  }
  footer nav ul li {
    display: inline-block;
    float: none;
    padding-left: 11px;
    padding-right: 11px;
    margin: 0;
  }
  footer nav .separator {
    display: none;
  }
  footer .to-up {
    bottom: -12px;
    left: 50%;
    margin-left: -19px;
  }
  footer .to-up:hover {
    opacity: 1;
  }
}
.modal-dialog {
  width: 514px;
}
.modal-content {
  padding: 14px 26px 6px 26px;
  border-radius: 0px;
  width: 514px;
  border-bottom: 2px solid #d8b791;
}
.modal-content .modal-title {
  font-size: 31px;
  font-family: 'Mirta-Italic';
}
.modal-header {
  border-bottom: 0;
  padding: 0 0 16px;
}
.modal-header .close {
  text-indent: -9999px;
  width: 17px;
  height: 17px;
  background: url(../img/sprite.png) -264px 0;
  opacity: 1;
}
.modal-body {
  padding: 0;
}
.modal .contacts-time {
    padding-left: 40px;
    position: relative;
}
.modal .contacts-time .ico-time {
    top: 0;
    left: 0;
}
.modal .contacts-time span {
    color: #969696;
}
@media (max-width: 767px) {
  .modal-content {
    padding-bottom: 20px;
    width: auto;
  }
  .modal-dialog{
    margin: 30px auto;
  }

  .modal-content .modal-title {
    font-size: 23px;
  }
}
@media (max-width: 400px) {
  .modal-dialog{
    width: 350px;
  }
}
@media (max-width: 322px) {
  .modal-dialog{
    width: 320px;
  }
}
.errortime .error {
    border: 1px solid #ccc;
    color: red;
    font-size: 16px;
    padding: 6px;
    text-align: center;
}
label.error {
    color: red;
    font-size: 11px;
    font-weight: normal;
    line-height: 12px;
}

/*# sourceMappingURL=style.css.map */