﻿/* green #a2cf44 */

@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow|Open+Sans+Condensed:300&subset=cyrillic,latin);

body {
    padding-top: 97px;
}
section header {
    position: static;
}
section footer {
    /*border-top: 2px solid #e9e9e9;*/
    padding: 0;
}
.container {
    width: 96%;
}

/*Шапка - перебивалки стилей*/
header.header {
    box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.2);
    position: fixed;
}
header .head-top .nav > ul > li > a:hover {
    color: #444444;
}
header .head-top .nav > ul > li {
    margin-right: 22px;
}
header .head-top .contacts-phones {
    line-height: 93px;
    padding-top: 0;
    margin: 0 10px 0 20px;
}
header .head-top .contacts-phones .ico {
    top: 28px;
}
header .head-top .btn-wrap {
    padding-top:23px;
}

/*Подвал - перебивалки стилей*/
footer nav .separator {
    border-left-color: #cccccc;
}
footer nav ul li a {
    color: #000000;
    text-decoration: underline;
}
footer nav ul li a:hover {
    text-decoration: underline;
    color: #444444;
}
.contacts-social {
    line-height:75px;
    height: 53px;
    display: inline-block;
    margin-top: 0;
}
.contacts-social a {
    margin-left: 11px;
    display: inline-block;
    float: none;
}
.contacts-social a:hover {
    opacity: 0.8;
}
.ico {
    background: url(../img/sprite-green.png);
}
.ico-tur {
    background-position: 0px -1px;
}
.ico-phones {
    background-position: -39px 0px;
}
.ico-fb {
    background-position: -72px 0;
}
.ico-tw {
    background-position: -95px 0;
}
.ico-in {
    background-position: -118px 0;
}
.ico-vk {
    background-position: -141px 0;
}

/*Лайтбокс - перебивалка стилей*/
.modal-header {
    padding: 0 0 6px;
}
.form-row {
    margin-left: 0px;
    margin-bottom: 10px;
}
label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
    color: #898989;
    position: relative;
}
.input-wrap {
    position: relative;
}
@media screen and (min-width: 500px)  {
    .input-wrap {
        display: inline-block;
        width: 50%;
        vertical-align: top;
    }
}
.input-wrap label{
    padding: 0 0 0 20px;
    color: #000000;
}
/*input[type=checkbox] {
    position: absolute;
    left: 0;
    display: inline-block;
    top: 0;
    width: 14px;
    height: 14px;
}*/
input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}
input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    margin: 0 0 -2px -20px;
    width: 15px;
    height: 15px;
    background: url(../img/sprite-checkbox.png) 0 -17px no-repeat;
}
input[type="checkbox"]:checked + label:before {
    background-position: 0 0;
}

select.form-control {
    background-position: right 8px center;
}
.modal-content {
    padding: 20px 30px 30px;
    border-bottom: none;
}
.modal-dialog,
.modal-content {
    max-width: 470px;
    width: 98%;
}
.modal-backdrop.in {
    filter: alpha(opacity=30);
    opacity: 0.8;
}



/*Общие стили*/
.h1:first-of-type,.h2:first-of-type,.h3:first-of-type {
    margin-top: 0;
}
.h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 53px;
    line-height: 1.3;
    font-weight: lighter;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 30px;

    position: relative;
    text-align: center;
    z-index: 1;
}
.section-number {
    font-family: 'Mirta-Italic', sans-serif;
    font-size: 110px;
    line-height: 0.7;
    font-weight: bold;
    color: #e9e8e8;
    position: absolute;

    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    z-index: -1;
}
.h2 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 24px;
    line-height: 35px;
    font-weight: normal;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 20px;
}
.h3 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 6px 0 5px;
}
.h5 {
    font-size: 15px;
    margin-bottom: 8px;
}

.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-white {
    color: #fff;
}
.text-gray {
    color: #969696;
}
.text-black {
    color: #969696;
}
.text-bold {
    text-weight: bold;
}

.indent-lg {
    padding-top: 50px;
    padding-bottom: 50px;
}
.indent-md {
    padding-top: 30px;
    padding-bottom: 30px;
}
.indent-sm {
    padding-top: 20px;
    padding-bottom: 20px;
}
.indent-xs {
    padding-top: 15px;
    padding-bottom: 15px;
}
.indent-top-0 {
    padding-top: 0;
}
.indent-bottom-0 {
    padding-bottom: 0;
}

.delimiter {
    display: block;
    margin: 15px 0;
    position: relative;
}
.delimiter:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -62px;
    width: 125px;
    height: 20px;
    background: url(../img/sprite-green.png) no-repeat 0 -34px;
}
.delimiter_arrows:after {
    margin-top: -10px;
    margin-left: -26px;
    width: 52px;
    height: 20px;
    background-position: -165px 2px;
}

.page-container {
    padding-top: 53px;
}
.page-container,
.footer {
    margin: 0 auto;
    max-width: 1920px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
}
.page-container ul li:before {
    background: url(../img/sprite-green.png) -130px -36px;
    width: 10px;
    height: 14px;
}
.page-container li ul li:before {
    background: none;
    line-height: 1;
    content:"\00a0-";
}

blockquote {
    border: 2px solid #a2cf44;
    font-size: 15px;
    padding: 20px;
    margin: 0 0 30px;
}

/*.lazy {
    display: none;
}*/

/*выравнивание содержимого по вертикали*/

@media screen and (min-width: 992px)  {
    .row-table {
       display:table;
    }
    .col-height {
       display: table-cell;
       float: none;
       vertical-align: top;
    }
    .col-middle {
       vertical-align: middle;
    }
    .col-top {
       vertical-align: top;
    }
}

/*Btn*/
.btn-lg {
    font-size: 15px;
    padding: 13px 16px;
}
.btn-primary {
    background: none #a2cf44;
    border: 2px solid #a2cf44;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #000;
}
.btn-primary:hover, .btn-primary:focus {
    background: #a2cf44;
    border: 2px solid #a2cf44;
    color: #000;
}
.btn-primary:active {
    background: #99c440;
    border: 2px solid #99c440;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn-link {
    color: #000;
    text-decoration: underline;
}
.btn-link:hover {
    color: #444444;
}

/*Контент*/
.bg-white {
    background: #ffffff;
}
.subheader {
    line-height: 53px;
}
.tour-list {
    background: #a2cf44;
}
.tour-list ul {
    margin-bottom: 20px;
}
.tour-list li {
    margin-bottom: 5px !important;
}
.tour-list li ul {
    margin-bottom: 0px;
}
.tour-list li ul li {
    margin-bottom: 5px !important;
}


.infoblock {
    background: #fff;
    box-shadow: 0px 2px 0px 0px rgba(0,0,0,.3);
    position: relative;
    margin-bottom: 17px;
}
.infoblock-img {
    background-position: center center;
    background-color: #ccc;
    background-size: cover;
}
.infoblock-img_horizontal {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
}
.infoblock-img_horizontal + .infoblock-text {
    margin-left: 30px;
}
.infoblock-img_left {
    width: 50%;
    float: left;
    left: 0;
}
.infoblock-img_right {
    width: 50%;
    float: right;
    right: 0;
    left: auto;
}
.infoblock-img_vertical {
    height: 240px;
    width: 100%;
    margin-bottom: 22px;
}
.infoblock-text {
    padding: 20px 15px 30px 20px;
}

/*.tour img {
    margin: 0.3em 0 20px;
}*/
.map {
    height: 315px;
    box-shadow: 0px 2px 0px 0px #a2cf44;
    background: url(../img/map.jpg) center center no-repeat;
}

#date {
    background-image: url(../img/ico-calendar.png);
    background-position: right center;
    background-repeat: no-repeat;
}


@media screen and (min-width: 768px) and (max-width: 1000px)  {
    /*.page-container {
        padding-top: 140px;
    }*/
    header .head-top .nav {
        padding: 0 10px 0 0;
    }
    header .head-top .contacts {
        display: inline-block;
        float: right;
        text-align: right;
        width: 120px;
    }
    header .head-top .contacts-phones {
        display: block;
        margin: 0;
        float: none;
        line-height: 1.4;
        padding: 17px 0 5px;
    }
    header .head-top .contacts-phones .ico {
        display: none;
    }
    header .head-top .btn-wrap {
        display: block;
        float: none !important;
        padding: 0;
    }
    header .head-top .btn-lg {
        display: block;
        padding: 8px 11px;
        font-size: 12px;
    }

}
@media screen and (max-width: 767px)  {

    .page-container {
        padding-top: 0;
    }
    header .head-top .nav-header {
        width: 100%;
    }
    header .head-top .contacts {
        display: block;
        margin: 0;
        float: none;
        text-align: center;
    }
    header .head-top #nav-collapse {
        width: 100%;
    }
    header .head-top #nav-collapse.in {
        height: auto;
        max-height: 430px;
    }
    header .head-top .nav > ul > li {
        margin-right: 0;
    }
    header .head-top .nav > ul > li:last-child {
        margin-right: 0;
    }
    header .head-top .contacts-phones {
        float: none;
        display: inline-block;
        margin: 0;
    }
    header .head-top .btn-wrap {
        float: none !important;
        padding: 0px 0 20px;
        display: inline-block;
    }
    header .head-btm {
        display: none;
    }
    .infoblock-img_horizontal  {
        float: none;
        width: 100%;
        position: relative;
        height: 200px;
    }
    .infoblock-img_horizontal + .infoblock-text {
        margin: 0;
        width: 100%;
        float: none;
    }
    section {
        background-image: none !important;
    }
    .h1 {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 24px;
        line-height: 35px;
        font-weight: normal;
        letter-spacing: -0.5px;
        text-transform: uppercase;
        margin-bottom: 5px;
        margin-top: 20px;
    }
    .section-number {
        font-family: 'Mirta-Italic', sans-serif;
        font-size: 60px;
        font-weight: normal;
    }
    .delimiter:after {
        margin-top: 10px;
    }
    .col-middle  img {
        margin-bottom: 15px;
    }
    .col-middle + .col-middle img {
        margin-top: 15px;
        margin-bottom: 0;
    }
    section footer,
    section footer .text-center {
        text-align: left;
    }
    .map {
        height: 230px;
    }
    ymaps.ymaps-b-zoom_hints-pos_right {
        top: 40px !important;
    }
}
